body {
  background-color: #0d192b;
  width: 100vw;
  height: fit-content;
}

body #card {
  max-height: 85%;
  width: 90%;
  max-width: 300px;
  background-color: #14253d;
  padding: 1rem;
  /* Hack to center div without flexbox */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#panels-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#panels-space .panel {
  min-width: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#main-image {
  max-width: 100%;
}

.normal-text {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  color: #8bacda;
  font-size: 18px;
}

#title-text {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 2rem;
  margin: 0;
}

p span {
  font-weight: 400;
  color: white;
}

#price {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #00fff7;
}

hr {
  width: 100%;
  color: #2f415b;
}

#avatar-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
}

#avatar-info img {
  max-height: 100%;
  border: 1px solid white;
  border-radius: 50%;
}
